:root {
    --color-primary: #3f51b5;
    --color-primary-light: #7986cb;
    --color-primary-dark: #303f9f;
    --color-secondary: #f50057;
    --color-body: #121212;
    --color-background: #333;
    --color-text-primary: theme('colors.white');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        background-color: var(--color-body);
        color: var(--color-text-primary);
    }

    button {
        @apply px-3 py-1 rounded bg-primary hover:bg-primary-light font-bold;
    }

    input {
        @apply bg-transparent rounded text-white border-2;
    }
}
